<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>File Uploader</title>
</head>

<body>
    <nav>
        <h1 class="brand">Image Gallery</h1>
        <ul class="nav-links">
            <li class="nav-link">
                <a href="{{url_for('routes.index')}}">My Galleries</a>
            </li>
            <li class="nav-link">
                <a href="{{url_for('auth.logout')}}">Logout</a>
            </li>

        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>