{% extends 'base.html' %}
{% block content %}
<section class="container gallery">
    {% if gallery %}
    <h2>{{gallery.title}}</h2>
    <p>{{gallery.description}}</p>
    <div class="btn-container">
        <a href="{{url_for('routes.upload', id=gallery.id)}}" class="btn btn-secondary">Upload image</a>
        <a href="#" class="btn btn-primary">Edit gallery</a>
        <a href="#" class="btn btn-danger">Delete gallery</a>
    </div>

    <div class="image-card-container">
        {% for image in gallery.images%}
        <div class="image-card">
            <a href="#">
                <img src="{{image.url}}" alt="">
            </a>
        </div>
        {% endfor%}
    </div>

    {% endif %}
</section>

{% endblock %}